/out_backbone
/out
/out_mesh
/out_fusion
/data
build
.vscode
.pytest_cache
.cache
/.idea
*.pyc
*.pyd
*.o
*.prof
*.swp
*.lib
*.obj
*.exp
.nfs*
*.jpg
*.ply
*.off
*.npz
*.asc
*.csv
*.pkl
/output/*

output.log
